<div class="view-container">
<mat-list>
  <mat-list-item>
    <h2>Details</h2>
  </mat-list-item>
</mat-list>
  <mat-divider></mat-divider>
<mat-list>
  <mat-list-item > {{patient.PatientID}} </mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item > {{patient.PatientName}} </mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item > {{patient.Age}} </mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item > {{patient.address}} </mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item > {{patient.emailAddress}} </mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item > {{patient.doctorName}} </mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item > {{patient.speciality}} </mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item > {{patient.PaitentClinicalHistory}} </mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item > {{patient.diagnosisProvisional}} </mat-list-item>
</mat-list>


<mat-list>
  <mat-list-item > {{patient.Notes}} </mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item > {{patient.treatment}} </mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item > {{patient.investigation}} </mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item > {{patient.reviewAdvise}} </mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item > {{patient.Amount}} </mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item > {{patient.consent}} </mat-list-item>
</mat-list>

<mat-list>
  <mat-list-item>
    <button mat-raised-button color="primary">Edit</button>
  </mat-list-item>
</mat-list>
</div>
